body {
     font-family:Arial,sans-serif;
     background:#f4f6f8
     margin:0;
     padding:0;
}
header {
  backgroun:#2b7cff
  color:white;
  padding:20px;
  text-align:center;
}
.card{
  background:white;
  margin:20px;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
}
button{
  background:#2b7cff
  color:white;
  border:none;
  padding: 10px 15px;
  border-radius:5px;
  cursor:pointer;
}
button : hover {
  background:#1f5ed6;
}
input,select{
     width:100%;
     padding:8px;
     margin-bottom:10px;
}
